services:
  gapbs:
    privileged: true
    build:
      context: ./
      dockerfile: ./containers/GAPBS.Dockerfile
    container_name: gapbs
    volumes:
      - datasets:/datasets
      - results:/results
      - extra_space:/extra_space
      - scripts:/scripts

  gemini:
    privileged: true
    build:
      context: ./
      dockerfile: ./containers/gemini.Dockerfile
    container_name: gemini
    volumes:
      - systems:/systems
      - datasets:/datasets
      - results:/results
      - scripts:/scripts
  
  ligra:
    privileged: true
    build:
      context: ./
      dockerfile: ./containers/ligra.Dockerfile
    container_name: ligra
    volumes:
      - systems:/systems
      - datasets:/datasets
      - results:/results
      - extra_space:/extra_space
      - scripts:/scripts

  galois:
    privileged: true
    build:
      context: ./
      dockerfile: ./containers/galois.Dockerfile
    container_name: galois
    volumes:
      - datasets:/datasets
      - results:/results
      - systems:/systems
      - extra_space:/extra_space
      - scripts:/scripts
  
  blaze:
    privileged: true
    build:
      context: ./
      dockerfile: ./containers/blaze.Dockerfile
    container_name: blaze
    volumes:
      - datasets:/datasets
      - results:/results
      - extra_space:/extra_space
      - scripts:/scripts

  graphchi:
    privileged: true
    build:
      context: ./
      dockerfile: ./containers/graphchi.dockerfile
    container_name: graphchi
    volumes:
      - datasets:/datasets
      - systems:/systems
      - results:/results
      - extra_space:/extra_space
      - scripts:/scripts
  
  xstream:
    privileged: true
    build:
      context: ./
      dockerfile: ./containers/xstream.dockerfile
    container_name: xstream
    volumes:
      - datasets:/datasets
      - results:/results
      - extra_space:/extra_space
      - scripts:/scripts

  lumos:
    privileged: true
    build:
      context: ./
      dockerfile: containers/lumos.Dockerfile
    container_name: lumos
    volumes:
      - datasets:/datasets
      - results:/results
      - extra_space:/extra_space
      - scripts:/scripts

  gridgraph:
    privileged: true
    build:
      context: ./
      dockerfile: containers/gridgraph.Dockerfile
    container_name: gridgraph
    volumes:
      - datasets:/datasets
      - results:/results
      - extra_space:/extra_space
      - scripts:/scripts

  flexograph:
    privileged: true
    build:
      context: ./
      dockerfile: containers/Flexograph.Dockerfile
    container_name: flexograph
    volumes:
      - db:/db
      - datasets:/datasets
      - graph30:/graph30
      - extra_space:/extra_space
      - margraphita:/margraphita
      - results:/results
      - golden_images:/golden_images
      - scripts:/scripts

volumes:
  systems:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./systems/
  scripts:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./scripts/
  margraphita:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: systems/FlexoGraph
  datasets:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./datasets/
  graph30:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /drives/graph30
  results:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./results/
  extra_space:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./extra_space/
  db:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./db/

  golden_images:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./golden_images
